#image {
    display: block;
    max-width: 25%;
    max-height: 25%;
    margin: 0 auto;
}

#img-caption {
    text-align: center;
}

a {
    margin: 0 auto;
}

li,
#tribute-info,
aside {
    padding: 5px;
    width: 50%;
    margin: 0 auto;
}

#tribute-info {
    text-align: center;
    font-size: 30px;
}
