main {
    font-family: sans-serif;
    background-image: url(Peapods.jpg);
    background-size: 10%;
    width: 100%;
    height: 100%;
}

#image {
    display: block;
    max-width: 25%;
    max-height: 25%;
    margin: 0 auto;
    border-radius: 20px;
}

#img-caption {
    text-align: center;
}

#tribute-link {
    margin: 0 auto;
    padding: 20px;
}

li,
#tribute-info,
aside {
    padding: 5px;
    width: 50%;
    margin: 0 auto;
}

#tribute-info {
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

aside {
    font-style: italic;
}

#tribute-link {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-top: 0;
}

.white-bg {
    background-color: rgba(255, 255, 255, .75);
}
